@import "mixins";

.helicopter-wrapper {
  .helicopter {
    background-color: #3F89C3;
    @include border-radius(50px);
    position: relative;
    height: 5px;
    margin: 0 auto;
    width: 5px;
    &:before {
      background-color: rgba(63, 137, 195, .2);
      border-top: 3px solid #3F89C3;
      border-right: 3px solid #3F89C3;
      @include border-radius-custom(0, 50px, 0, 0);
      content: '';
      position: absolute;
      top: -38px;
      left: 2px;
      height: 40px;
      @include transform-origin(0% 100%);
      @include animation(helicopter 1.5s linear infinite);
      width: 40px;
    }
    &:after {
      background-color: rgba(63, 137, 195, .2);
      border-bottom: 3px solid #3F89C3;
      border-left: 3px solid #3F89C3;
      @include border-radius-custom(0, 0, 0, 50px);
      content: '';
      position: absolute;
      top: 2px;
      right: 2px;
      height: 40px;
      @include transform-origin(100% 0%);
      @include animation(helicopter 1.5s linear infinite);
      width: 40px;
    }
  }
}

@include keyframes(helicopter){
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}